<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">Manuel <span class="text-primary">Santisteban</span></h1>
        <div class="subheading mb-5">Team leader · {{birthday | appAge}} ans</div>
        <p class="lead">
            <span translate>Team leader enthousiaste et dévoué, je suis passionné par le développement et les nouvelles technologies.</span>
            <span translate>Fort de 14 années d'expérience dans le domaine du développement, j'ai eu le privilège de diriger une équipe de développeurs talentueux et passionnés.</span>
            <span translate>Ma capacité à cultiver un environnement de travail collaboratif et inspirant a permis à mon équipe de réaliser des projets innovants et de surpasser les attentes.</span>
        </p>
        <p class="lead">
            <span translate>Mon approche centrée sur la communication ouverte, la collaboration et la résolution proactive des problèmes a été la clé de nombreux succès que j'ai rencontrés au cours de mes missions.</span>
            <span translate>Je crois fermement en l'importance de la reconnaissance et de la célébration des succès collectifs, car elles renforcent le sentiment d'appartenance et stimulent la motivation.</span>
        </p>
        <p class="lead mb-5" translate>
            Avec une solide expérience technique et un engagement indéfectible envers l'excellence, je suis toujours prêt à relever de nouveaux défis passionnants et à contribuer de manière significative au succès de votre entreprise.
        </p>

        <app-contact/>
    </div>
</section>
