<div class="box">
    <h2>Expériences</h2>
    <h5 class="work-experience-function">Responsable produit WinLassie Online</h5>
    <h6>Depuis 2016</h6>
    <div class="work-experience-content">
        Responsable de la ré-écriture complète de l'application historique en application web 3 tiers (API Rest Symfony, Frontend Angular, base de données PostgreSQL).<br/>
        Mise en place de bonnes pratiques, outils DevOps, socle de l'application, documentations techniques.<br/>
        Ce projet d'application web m'a permis de manager une équipe allant jusqu'à 10 personnes travaillant à la fois sur de la R&D et de la maintenance applicative.
    </div>

    <h5 class="work-experience-function mt-3">Responsable produit WinLassie</h5>
    <h6>De 2014 à 2016</h6>
    <div class="work-experience-content">
        Responsable du produit historique écrit en WinDev afin d'améliorer techniquement la produit et de commencer à intégrer les bonnes pratiques.
    </div>

    <h5 class="work-experience-function mt-3">Analyse programmeur</h5>
    <h6>De 2010 à 2014</h6>
    <div class="work-experience-content">
        Analyse programmeur principalement pour le logiciel WinLassie, logiciel de santé, hygiène, sécurité au travail.
    </div>
</div>
