<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Expériences</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Team leader WinLassie Online</h3>
                <div class="subheading mb-3">Gamma Software</div>
                <p>
                    Responsable de la ré-écriture complète de l'application historique en application web 3 tiers (API Rest Symfony, Frontend Angular, base de données PostgreSQL).<br/>
                    Mise en place de bonnes pratiques, outils DevOps, socle de l'application, documentations techniques.<br/>
                    Ce projet d'application web m'a permis de manager une équipe allant jusqu'à 10 personnes travaillant à la fois sur de la R&D et de la maintenance applicative.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Février 2016 - Aujourd'hui</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Team leader WinLassie classique</h3>
                <div class="subheading mb-3">Gamma Software</div>
                <p>Application historique écrit en WinDev afin d'améliorer techniquement le produit et de commencer à intégrer les bonnes pratiques.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Mars 2014 - Janvier 2016</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Développeur</h3>
                <div class="subheading mb-3">Gamma Software</div>
                <p>Développeur web/application principalement pour le logiciel WinLassie, logiciel de santé, hygiène, sécurité au travail.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Septembre 2010 - Février 2014</span></div>
        </div>
    </div>
</section>
