body {
  background-color: rgb(250, 250, 250);
  font-family: Roboto, Arial, Tahoma, SansSerif;
  font-weight: 300;
  font-size: 1rem;
}

.container {
  background: white;
  border-radius: 3px;
  margin-top: 80px;
  margin-bottom: 80px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 767px) {
  .container {
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.label {
  border-radius: 1px;
  padding: .3em .6em;
  font-size: 75%;
  font-weight: 400;
}
