.experience {
  margin-bottom: 15px;
}

.experience .societe {
  font-size: 1.4em;
  font-weight: bold;
}

.experience .annee {
  font-size: 1.3em;
  opacity: 0.7;
}

.experience .profession {
  font-size: 1.6em;
  font-weight: bold;
}

.experience .description {
  font-size: 1.2em;
  line-height: 1.5em;
}
