.progress {
  height: 30px;
  border-radius: 0;
}
.progress-blue {
  background-color: #90caf9;
}
.progress-bar {
  text-align: left;
  text-transform: uppercase;
  padding: 5px;
  font-size: 14px;
  font-weight: 800;
}
.progress-blue .progress-bar {
  background-color: #1e88e5;
}
@media print {
  ul.competences {
    font-size: 14px;
  }
}
