.timeline {
  margin-top: 20px;
  position: relative;
  padding: 1em 0;
  list-style: none;
}

.timeline:before {
  width: 5px;
  height: 100%;
  position: absolute;
  left: 25px;
  top: 0;
  content: ' ';
  display: block;
  color: rgba(16, 108, 200, 0.8);
  background: -moz-linear-gradient(top, #ffffff 0%, rgba(16, 108, 200, 0.8) 7%, rgba(16, 108, 200, 0.8) 80%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(7%, rgba(16, 108, 200, 0.8)), color-stop(80%, rgba(16, 108, 200, 0.8)), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #ffffff 0%, rgba(16, 108, 200, 0.8) 7%, rgba(16, 108, 200, 0.8) 80%, #ffffff 100%);
  background: -o-linear-gradient(top, #ffffff 0%, rgba(16, 108, 200, 0.8) 7%, rgba(16, 108, 200, 0.8) 80%, #ffffff 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, rgba(16, 108, 200, 0.8) 7%, rgba(16, 108, 200, 0.8) 80%, #ffffff 100%);
  background: linear-gradient(to bottom, #ffffff 0%, rgba(16, 108, 200, 0.8) 7%, rgba(16, 108, 200, 0.8) 80%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}

.timeline li {
  width: 100%;
  z-index: 2;
  position: relative;
  float: left;
}

.timeline li .year {
  width: 10%;
  background: #fff;
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
  display: inline-block;
}

.timeline li .description {
  width: 80%;
  display: inline-block;
  background: #eee;
  margin-bottom: 15px;
  position: relative;
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-left: 20px;
}

.timeline li .description:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 0;
  left: -16px;
  height: 0;
  width: 0;
  border: solid transparent;
  border-right-color: #eee;
  border-width: 8px;
  pointer-events: none;
}

.timeline li .description h3 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.timeline li .description p {
  font-size: 0.9rem;
  margin-top: 5px;
  padding: 0;
}
