<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5" translate>Loisirs</h2>
        <p>
            <span translate>Passionné de plein air, j'apprécie de passer du temps à explorer de nouveaux sentiers à pied, que ce soit en solo ou en groupe.</span>
            <span translate>La marche me permet de me ressourcer, de profiter de la nature et de maintenir un mode de vie actif tout en découvrant de magnifiques paysages.</span>
        </p>
        <p>
            <span translate>En dehors du monde du développement, j'aime également consacrer du temps à la cuisine.</span>
            <span translate>J'apprécie d'expérimenter de nouvelles recettes et de créer des plats savoureux.</span>
            <span translate>La cuisine est pour moi une source de créativité et de détente, et partager un repas bien préparé avec des amis et la famille est toujours un moment de plaisir.</span>
        </p>
        <p>
            <span translate>Par ailleurs, je suis passionné par l'actualité technologique et je consacre une partie de mon temps libre à suivre les tendances et les innovations dans ce domaine en constante évolution.</span>
            <span translate>Que ce soit par le biais de lectures, de podcasts ou de forums en ligne, je suis constamment en quête de nouvelles connaissances et de nouvelles idées.</span>
        </p>
    </div>
</section>
