<section class="resume-section" id="skills">
    <div class="resume-section-content" *ngIf="skills$ | async; let skills">
        <h2 class="mb-5">Compétences</h2>
        <div class="subheading mb-3">Languages</div>
        <ul class="list-inline dev-icons">
            @for (item of skills.programming; track item) {
                <li class="list-inline-item"><i class="{{item.iconSet}} {{item.icon}}" title="{{item.title}}"></i></li>
            }
        </ul>
        <div class="subheading mb-3">Outils</div>
        <ul class="list-inline dev-icons">
            @for (item of skills.tools; track item) {
                <li class="list-inline-item"><i class="{{item.iconSet}} {{item.icon}} fa-xs" title="{{item.title}}"></i></li>
            }
        </ul>
        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Mobile-First, Responsive Design</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Cross Browser Testing & Debugging</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Cross Functional Teams</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Agile Development</li>
        </ul>
    </div>
</section>
