<div class="box">
    <h2>Compétences</h2>
    <mat-list class="d-print-none">
        <mat-list-item *ngFor="let item of items$ | async">
            <h4 mat-line>{{item.title}}</h4>
            <p mat-line>
                <mat-progress-bar mode="determinate" [value]="item.percent"></mat-progress-bar>
            </p>
        </mat-list-item>
    </mat-list>
    <ul class="list-group competences d-none d-print-block">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of items$ | async">
            {{item.title}}
            <span class="badge badge-primary badge-pill">{{item.percent}} %</span>
        </li>
    </ul>

    <div class="row item-row">
        <div class="col-12">
            <span class="font-weight-bold">Autres compétences :</span>
            WinDev, Git, SVN, karma, jasmine, grunt, gulp, nodejs, jscs, webpack PHPUnit, PHPCS, VB (6 & .net), environnement Linux (Fedora, Ubundu, Debian), Windows, suite office (et alternatives)...
        </div>
    </div>
</div>
