@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import "styles/box";
@import "styles/common";
@import "styles/contact";
@import "styles/experience";
@import "styles/header";
@import "styles/print";
@import "styles/skill";
@import "styles/timeline";

.md-toolbar-tools {
  font-size: 20px;
  letter-spacing: .005em;
  box-sizing: border-box;
  font-weight: 400;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 64px;
  max-height: 64px;
  padding: 0 16px;
  margin: 0;
}

